<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sen.wedding.com.weddingsen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".base.SenApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".account.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">

        </activity>

        <activity
            android:name=".account.activity.PersonalInfoSetActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".business.activity.VerifyGuestInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"></activity>

        <activity
            android:name=".business.activity.EditGuestInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"></activity>

        <activity
            android:name=".account.activity.FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"></activity>

        <activity
            android:name=".business.activity.SelectAreaOptionActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".business.activity.SelectHotelOptionActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".main.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar">

        </activity>

        <activity
            android:name=".business.activity.GuestInfoDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".business.activity.ContractInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">

        </activity>

        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />

        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".account.activity.ResetPasswordActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".business.activity.LogInfoActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".business.activity.FollowUpDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".main.activity.HotelShowActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".main.activity.HotelDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".account.activity.PersonalDetailActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".main.activity.HotelDistinctActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".main.activity.InfoProvideActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".main.activity.InfoFollowUpActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".business.activity.EditBuildInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"></activity>

        <activity
            android:name=".business.activity.BuildInfoDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".sales.activity.BuildFollowAcrivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".sales.activity.BuildLogInfoActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".sales.activity.FirstSaleContractActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".sales.activity.FirstSaleDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".sales.activity.SecondSaleContractActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".sales.activity.SecondSaleDetailActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".sales.activity.ModifyRestTimeActivity"
            android:screenOrientation="portrait"></activity>

        <activity android:name=".sales.activity.PayRecordLogActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>